@model SupplierViewModel

<h1>Supplier Index</h1>

<table>
    <thead>
        <tr>
            <th>Supplier ID</th>
            <th>Name</th>
            <th>ContactPerson</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Bulstat</th>
            <th>Address</th>
        </tr>
    </thead>
</table>