@{
    ViewData["Title"] = "Wine Page";
}

<div class="text-center">
    <h1 class="display-4">WineCraze!</h1>
    <p> <a href="https://docs.microsoft.com/aspnet/core"></a>Hello this is my PROJECT!</p>
</div>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>*WINE*</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="container">
        <div id="banner">
            <h1>WineCraze Company</h1>
        </div>
        <div id="sidebar">
            <h1> Links </h1>
            <div id="navcontainer">
                <ul id="navlist">
                    <li id="active"><a href="#" id="current">Link one</a></li>
                    @*<li><a href="#">Link two</a></li>
                    <li><a href="#">Link three</a></li>
                    <li><a href="#">Link four</a></li>
                    <li><a href="#">Link five</a></li>*@
                </ul>
            </div>
            <p>Ima li vina </p>
            <div class="search">
                <form method="post" action="http://www.free-css-com/">
                    <p>
                        <input type="text" value="demo only" name="search" class="search" />
                        <input type="submit" value="Search" class="searchSubmit" />
                    </p>
                </form>
            </div>
        </div>
        <div id="content">
            <h1>Welcome to <span style="color:#4B7219;">Wine</span> Template</h1>
            <blockquote>
                Purvi description<br />
                <a href="http://www.mitchinson.net" title="my website">my website</a>.
            </blockquote>
            <h1>Products</h1>
            <div class="box">
                <p><img class="img" src="img/2.jpg" alt="logo" />  tuka pisha obqsnenie </p>
            </div>
            <p> This is a <a href="#">link</a>Mqsto za tekst</p>
        </div>
        <div style="clear:both;"></div>
    </div>
</body>
</html>
