@{
    ViewData["Title"] = "Wine Page";
}

<div class="text-center">
    <h1 class="display-4">WineCraze!</h1>
    <p> <a href="https://docs.microsoft.com/aspnet/core"></a>Hello this is my PROJECT!</p>
</div>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>*WINE*</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="container">
        <div id="banner">
            <h3><a href="#"> | homepage</a> | <a href="#">contact</a> | </h3>
            <h1>Your Company Name</h1>
        </div>
        <div id="sidebar">
            <h1> Links </h1>
            <div id="navcontainer">
                <ul id="navlist">
                    <li id="active"><a href="#" id="current">Link one</a></li>
                    <li><a href="#">Link two</a></li>
                    <li><a href="#">Link three</a></li>
                    <li><a href="#">Link four</a></li>
                    <li><a href="#">Link five</a></li>
                </ul>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
            <div class="search">
                <form method="post" action="http://www.free-css-com/">
                    <p>
                        <input type="text" value="demo only" name="search" class="search" />
                        <input type="submit" value="Search" class="searchSubmit" />
                    </p>
                </form>
            </div>
        </div>
        <div id="content">
            <h1>Welcome to <span style="color:#4B7219;">Wine</span> Template</h1>
            <blockquote>
                All images were created by me so feel free to use them if you wish. The page has been tested in Mozilla and IE7. The page validates as XHTML 1.0 Transitional using valid CSS.<br />
                For more FREE templates visit <a href="http://www.mitchinson.net" title="my website">my website</a>.
            </blockquote>
            <h1>Products</h1>
            <div class="box">
                <p><img class="img" src="img/logo32x32.gif" alt="logo" /> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer imperdiet, eros et cursus pharetra, nulla ante fermentum magna, eget rutrum mi urna in purus. </p>
            </div>
            <p> This is a <a href="#">link</a> to nowhere. Vestibulum dapibus, mauris eget imperdiet ornare, odio tellus facilisis neque, et congue risus eros ac mi. Curabitur tempus orci eu magna. Aliquam dictum nibh a eros. Phasellus ac nunc. Sed tellus. Integer felis. Sed erat.</p>
        </div>
        <div style="clear:both;"></div>
        <div class="intro">
            <h2>Article One</h2>
            <p class="update"><img class="img" src="img/logo.gif" alt="logo" /> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer imperdiet, eros et cursus pharetra, nulla ante fermentum magna, eget rutrum mi urna in purus.</p>
        </div>
        <div class="intro2">
            <h2>Article Two</h2>
            <p class="update"><img class="img" src="img/logo.gif" alt="logo" /> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer imperdiet, eros et cursus pharetra, nulla ante fermentum magna, eget rutrum mi urna in purus. </p>
        </div>
        <div class="intro3">
            <h2>Article Three</h2>
            <p class="update"><img class="img" src="img/logo.gif" alt="logo" /> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer imperdiet, eros et cursus pharetra, nulla ante fermentum magna, eget rutrum mi urna in purus.</p>
        </div>
        <div style="clear:both;"></div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer imperdiet, eros et cursus pharetra, nulla ante fermentum magna, eget rutrum mi urna in purus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer imperdiet, eros et cursus pharetra, nulla ante fermentum magna, eget rutrum mi urna in purus.</p>
        <div id="footer">
            <a href="#">homepage</a> | <a href="mailto:denise@mitchinson.net">contact</a> | <a href="http://validator.w3.org/check?uri=referer">html</a> | <a href="http://jigsaw.w3.org/css-validator">css</a> | &copy; 2007 Anyone | Design by <a href="http://www.mitchinson.net"> www.mitchinson.net</a><br />
            This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a>
        </div>
    </div>
</body>
</html>
